// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap"; // Custom bootstrap color
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import "datatable";

#content {
    margin-top: 56px;
    padding-top: 10px;
}

.navi-icon {
    height: 1rem;
    filter: invert(78%) sepia(34%) saturate(5231%) hue-rotate(143deg)
        brightness(97%) contrast(94%);
}
