.datatable-row-auto {
    width: 1% !important;
    white-space: nowrap !important;
}

.datatable-button-container {
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
}

.datatable-button {
    margin-right: 0.5rem;
}

.dt-buttons {
    margin-left: 0.5rem;
}

#table_grid_filter {
    padding-top: 3px;
}
